<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.imagehandle2022.seal.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.example.imagehandle2022.entity.StudentDO">
        <result column="studentId" jdbcType="VARCHAR" property="studentId" />
        <result column="studentName" jdbcType="VARCHAR" property="studentName" />
        <result column="cardId" jdbcType="VARCHAR" property="cardId" />
        <result column="cardType" jdbcType="VARCHAR" property="cardType" />
        <result column="entryDate" jdbcType="VARCHAR" property="entryDate" />
        <result column="genderCode" jdbcType="CHAR" property="genderCode" />
        <result column="gender" jdbcType="VARCHAR" property="gender" />
        <result column="birthday" jdbcType="VARCHAR" property="birthday" />
        <result column="nationCode" jdbcType="VARCHAR" property="nationCode" />
        <result column="examineeNumber" jdbcType="VARCHAR" property="examineeNumber" />
        <result column="phoneNumber" jdbcType="VARCHAR" property="phoneNumber" />
        <result column="studentStatusCode" jdbcType="VARCHAR" property="studentStatusCode" />
        <result column="studentStatus" jdbcType="VARCHAR" property="studentStatus" />
        <result column="studentTypeCode" jdbcType="VARCHAR" property="studentTypeCode" />
        <result column="studentType" jdbcType="VARCHAR" property="studentType" />
        <result column="academyCode" jdbcType="VARCHAR" property="academyCode" />
        <result column="academy" jdbcType="VARCHAR" property="academy" />
        <result column="centerCode" jdbcType="VARCHAR" property="centerCode" />
        <result column="center" jdbcType="VARCHAR" property="center" />
        <result column="classCode" jdbcType="VARCHAR" property="classCode" />
        <result column="className" jdbcType="VARCHAR" property="className" />
        <result column="majorLevelCode" jdbcType="VARCHAR" property="majorLevelCode" />
        <result column="majorLevel" jdbcType="VARCHAR" property="majorLevel" />
        <result column="majorCode" jdbcType="VARCHAR" property="majorCode" />
        <result column="major" jdbcType="VARCHAR" property="major" />
    </resultMap>

    <insert id="insertStudentList" parameterType="List">
        insert into student (studentId,studentName,cardId,cardType,entryDate,genderCode,birthday,nationCode,examineeNumber,studentStatusCode,studentTypeCode,academyCode,academy,centerCode,center,classCode,className,majorLevelCode,majorLevel,majorCode,major)
        <foreach collection="list" open="values" item="item" separator=",">
            (
            #{item.studentId},
            #{item.studentName},
            #{item.cardId},
            #{item.cardType},
            #{item.entryDate},
            #{item.genderCode},
            #{item.gender},
            #{item.birthday},
            #{item.nationCode},
            #{item.examineeNumber},
            #{item.phoneNumber},
            #{item.studentStatusCode},
            #{item.studentStatus},
            #{item.studentTypeCode},
            #{item.studentType},
            #{item.academyCode},
            #{item.academy},
            #{item.centerCode},
            #{item.center},
            #{item.classCode},
            #{item.className},
            #{item.majorLevelCode},
            #{item.majorLevel},
            #{item.majorCode},
            #{item.major}
            )
        </foreach>
    </insert>

</mapper>