<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.imagehandle2022.seal.mapper.SchoolSealMapper">

    <resultMap id="BaseResultMap" type="com.example.imagehandle2022.entity.SchoolSealInfo">
        <result column="school" jdbcType="VARCHAR" property="school" />
        <result column="schoolCode" jdbcType="VARCHAR" property="schoolCode" />
        <result column="sealName" jdbcType="VARCHAR" property="sealName" />
        <result column="sealCode" jdbcType="VARCHAR" property="sealCode" />
        <result column="sealPath" jdbcType="VARCHAR" property="sealPath" />
        <result column="applyDate" jdbcType="VARCHAR" property="applyDate" />
    </resultMap>

    <insert id="insertSchoolSealInfo" parameterType="SchoolSealInfo">
        insert into seal (school,schoolCode,sealName,sealCode,sealPath,applyDate)
        values(
            #{school},
            #{schoolCode},
            #{sealName},
            #{sealCode},
            #{sealPath},
            NOW()
              )
    </insert>

    <insert id="insertSealApplyInfo" parameterType="SealApplyInfo">
        insert into seal_apply_info (applyId,apply_person_id,institutionCode,sealName,sealCode,applyDate)
        value(
                  #{applyId},
                  #{applyPersonId},
                  #{institutionCode},
                  #{sealName},
                  #{sealCode},
                  NOW()
              )
    </insert>

    <select id="querySchoolSealInfo" resultType="SchoolSealInfo">
        select * from seal where 1=1
            <if test="schoolCode != null and schoolCode != ''">
                and schoolCode =  #{schoolCode}
            </if>
            <if test="sealCode != null and sealCode != ''">
                and sealCode =  #{sealCode}
            </if>
            <if test="school != null and school != ''">
                and school =  #{school}
            </if>
            <if test="sealName != null and sealName != ''">
                and sealName =  #{sealName}
            </if>
    </select>

    <select id="querySchoolSealInfoList" parameterType="java.util.List" resultType="SchoolSealInfo">
        select * from seal where 1=1
        <if test="schoolCode != null and schoolCode != ''">
            and schoolCode =  #{schoolCode}
        </if>
        <if test="sealCode != null and sealCode != ''">
            and sealCode =  #{sealCode}
        </if>
        <if test="school != null and school != ''">
            and school =  #{school}
        </if>
        <if test="sealName != null and sealName != ''">
            and sealName =  #{sealName}
        </if>
    </select>

</mapper>